.ant-popover-placement-bottom > .ant-popover-content > .ant-popover-arrow{
    display: none;
}

.ant-popover-inner{
    margin-right: 8px;
}

.ant-popover-inner-content{
    height: 82vh;
    width: 95vw;
    overflow: scroll;
    padding: unset;
}