html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: 'Prompt';
}

*{
    font-family: 'Prompt';
}

.ant-badge-multiple-words{
    padding: 0 3px !important;
}

.product-items .ant-form-item-explain.ant-form-item-explain-error{
    font-size: 12px !important;
    text-align: left;
}

.marker {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    background-color: #000;
    border: 2px solid #fff;
    border-radius: 100%;
    user-select: none;
    transform: translate(-50%, -50%);
}

.marker:hover {
    z-index: 1;
}